body.portal-popup {
	background: none;
	padding: 10px;
}

body.configuration-popup {
	padding-bottom: 0;
}

body.portal-iframe {
	padding: 0;
}

body.html-editor {
	background: #FFF;
	color: #000;
}

/* ---------- Staging area ---------- */

body.staging, body.live-view {
	border: 10px solid #F00;
}

body.live-view {
	border-color: #FC0;
}

.portal-iframe.staging {
	border: none;
}

/* ---------- Main content body ---------- */

.portal-iframe #main-content {
	width: 100%;
}

/* ---------- Alerts and popups ---------- */

.alert-background {
	background: #000;
}

.popup-alert-notice {
	background-color: #FFC;
	border-bottom-color: #FC0;
}

.popup-alert-warning {
	background-color: #FDD;
	border-bottom-color: #F00;
}

/* ---------- Portal add content ---------- */

.portal-add-content {
	background: #FFF;
	text-align: left;
	z-index: 20;
}

.portal-add-content a {
	text-decoration: none;
}

/* ---------- Loading animation ---------- */

.loading-animation {
	background: url(../images/progress_bar/loading_animation.gif) no-repeat top center;
	margin-top: 10px;
	padding-top: 40px;
	text-align: left;
}

/* ---------- Separator ---------- */

hr, .separator {
	border-top: 1px dotted #BFBFBF;
}

/* ---------- Update Manager ---------- */

.update-available {
	margin-top: 10px;
	padding: 2px;
	text-align: left;
}

/* ---------- Text highlighting ---------- */

.highlight {
	background: #FFC;
	font-weight: bold;
	margin: 0 1px;
}