/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
html, body {
	height : 100% !important;
}

#banner {
	height : 350px;
	background-image : url('../images/banner.jpg');
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}

.aui-legend {
	border : none;
}

.aui-field-choice .aui-field-label {
	display: inline-block;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 3px;
}

.container {
	width : 87%;
}

.logo {
	display: none;
	font-size: 0;
	height: 127px;
	text-indent: -9999em;
	width: 323px;
}

.jumbotron {
	background-color : #004e7b;
	padding : 0 !important;
}

.jumbotron img {
	margin : 0 auto;
}

/* using breadcrumbs to say hello */

.breadcrumb {
	margin-left : 0;
	margin-right : 0;
}

.breadcrumb > li + li:before {
		content: "";

}

#wrapper {
	min-height : 100%;
}

.portlet-icon-back {
	color : #F6F6F6;
}

footer {
	background-color: #005b93;
	bottom: 0;
	padding: 32px;
	width: 100%;

}

/*
 * Fix problem with bootstrap layout conflicts
 */

.portlet-column {
	display: block;
}

.lfr-layout-template-column-content {
	padding: 0 0em 0 0;
}

/* Fixing issue with bootstrap panel-title conflicting with chatportel panel-title */
.bs-panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}
.bs-panel-title > a,
.bs-panel-title > small,
.bs-panel-title > .small,
.bs-panel-title > small > a,
.bs-panel-title > .small > a {
	color: inherit;
}

/* fix issue with calendar */

.taglib-calendar tr td a {
	height : auto;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#banner {
		height : 350px;
		display : block;
	}

	.jumbotron {
		padding : 0 !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
		.jumbotron {
		padding : 0;
	}


	.portlet-column-content {
		padding: 0px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


	.navbar {
		margin-bottom: 70px;
	}

	.container {
		width : 100%;
		padding : 0;
	}

	.portlet-column {
		padding: 12px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}
