.dockbar {
	/* background: #97A1AE url(../images/dockbar/dockbar_bg.png) repeat-x 0 0;
	border-bottom: 1px solid #636364;
	font-size: 13px;
	padding: 1px 5px;
	position: relative; */
	z-index: 300;
}

.dockbar:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie7 .dockbar {
	zoom: 1;
}

.ie6 .dockbar, .ie6 .lfr-dockbar-pinned .dockbar {
	height: 10px;
	left: 0;
	position: relative;
	top: 0;
}

.dockbar a {
	/* color: #2C2F34; */
	font-weight: bold;
	/* text-shadow: 1px 1px #FFF; */
}

.dockbar .menu-button-active {
/* 	background: #5C94DA url(../images/dockbar/button_active_bg.png) repeat-x 0 0; */
}

.dockbar .menu-button-active a {
	/* color: #FFF;
	text-shadow: -1px -1px #2C2F34; */
}

.dockbar .user-avatar .sign-out {
	font-size: 0.8em;
	padding-left: 0;
}

.dockbar ul {
	margin: 0;
	padding: 0;
}

.dockbar li li {
	margin-left: 0;
}

html > .lfr-dockbar-pinned {
	padding-top: 3.45em;
}

.lfr-dockbar-pinned .dockbar {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.dockbar .pin-dockbar {
	margin-left: 0;
}

.ie6 .dockbar .pin-dockbar {
	display: none;
}

.pin-dockbar img {
	background: url(../images/dockbar/pin.png) no-repeat 0 0;
	height: 27px;
	vertical-align: middle;
	width: 27px;
}

.lfr-dockbar-pinned .pin-dockbar img {
	background-image: url(../images/dockbar/unpin.png);
}

.dockbar .user-portrait {
	text-decoration: none;
}

.dockbar .user-avatar img {
	vertical-align: middle;
	width: 25px;
}

.dockbar .impersonating-user {
	background: url(../images/messages/alert.png) no-repeat 0 50%;
	padding-left: 20px;
}

.dockbar .impersonating-user .user-links a {
	color: #999;
}

/* ---------- Menus ---------- */

.aui-dockbarmenu-hidden {
	visibility: hidden;
}

.dockbar .aui-toolbar {
	float: left;
}

.dockbar .user-toolbar {
	float: right;
}

.aui-underlay .portal-add-content {
	background-color: transparent;
	font-size: 11px;
}

.aui-underlay .portal-add-content .portlet-dd-placeholder {
	display: none;
}

.add-application .aui-widget-bd, .dockbar-messages .aui-widget-bd {
	padding: 0 10px 10px;
}

.add-application {
	left: 10px !important;
}

.lfr-has-sidebar #main-content {
	padding-left: 220px;
}

.manage-layouts {
	left: 60px !important;
}

.my-places-menu {
	max-width: 350px;
}

.my-places-menu ul {
	list-style: none;
}

.my-places-menu ul, .my-places-menu li {
	display: block;
	margin: 0;
	padding: 0;
}

.my-places-menu a {
	display: block;
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
}

.my-places-menu .current-site {
	border: solid #1D4280;
	border-width: 1px 0;
}

.my-places-menu .current-site a {
	background: #3068BA url(../images/arrows/01_right.png) no-repeat scroll 2px 30%;
	color: #FFF;
	padding-left: 20px;
	text-shadow: 1px 1px #333;
}

.my-places-menu .current-site .site-type {
	color: #FFF;
}

.my-places-menu .current-site a:hover, .my-places-menu a:hover .site-type {
	color: #FFF;
	text-shadow: 1px 1px #333;
}

.my-places-menu .site-name {
	cursor: pointer;
	float: left;
}

.my-places-menu .site-type {
	color: #777;
	float: right;
	font-size: 0.8em;
	font-weight: normal;
	margin-left: 10px;
}

.ie7 .my-places-menu .site-type {
	float: none;
}

.my-places-menu a:hover .site-type {
	color: #FFF;
}

.ie7 .my-places-menu a {
	overflow: visible;
	text-align: left;
}

.ie7 .my-places-menu .site-name {
	float: none;
}

.ie7 .my-places-menu .site-type {
	float: none;
}

.ie6 .my-places-menu {
	width: 200px;
}

.ie6 .my-places-menu a {
	height: 1%;
}

.dockbar .toggle-controls a {
	background: url(../images/dockbar/checked.png) no-repeat 0 50%;
	padding-left: 20px;
}

.controls-hidden .toggle-controls a {
	background-image: url(../images/dockbar/unchecked.png);
}

.dockbar .menu-button {
	background: url(../images/arrows/05_down.png) no-repeat 93% 50%;
	display: inline-block;
	padding: 5px 20px 5px 5px;
	text-decoration: none;
}

.dockbar .menu-button span {
	background: url() no-repeat 0 50%;
	padding-left: 20px;
}

.dockbar .add-content .menu-button span {
	background-image: url(../images/common/add.png);
}

.dockbar .manage-content .menu-button span {
	background-image: url(../images/dockbar/settings.png);
}

.dockbar .my-places .menu-button span {
	background-image: url(../images/dockbar/places.png);
}

.dockbar .staging-options .menu-button span {
	background-image: url(../images/dockbar/staging.png);
}

.dockbar-messages-container {
	left: 50%;
	margin-left: -150px;
}

.dockbar-messages {
	width: 300px;
}

.showing-messages .dockbar-messages {
	display: block;
}

.multiple-messages .dockbar-message {
	border-top: 1px solid #CCC;
	padding: 5px 0;
}

.multiple-messages .first {
	border-top-width: 0;
	padding-top: 0;
}

.add-content-menu .add-page a {
	background: url(../images/navigation/add_page.png) no-repeat 3px 50%;
	padding-left: 25px;
}

.add-content-menu .add-application a {
	background: url(../images/common/portlet.png) no-repeat 3px 50%;
	padding-left: 25px;
}

.manage-content-menu li a {
	background: url() no-repeat 3px 50%;
	padding-left: 25px;
}

.manage-content-menu .manage-page a {
	background-image: url(../images/dock/page_settings.png);
}

.manage-content-menu .page-layout a {
	background-image: url(../images/dock/layout.png);
}

.manage-content-menu .sitemap a {
	background-image: url(../images/common/sitemap.png);
}

.manage-content-menu .settings a {
	background-image: url(../images/common/configuration.png);
}

.manage-content-menu .control-panel a {
	background-image: url(../images/dock/control_panel.png);
}